.appMainDiv {
    width: 100vw;
    padding: 2ch;
    align-items: center;
    height: 100vh;
}

.pageContainer {
    height: 100%;
    width: 100%;
    border: 1px black solid;
}

.appH2 {
    padding: 1ch;
    font-family: Helvetica, Verdana, Arial, Helvetica, sans-serif; 
    font-weight: bold;
    text-transform: uppercase;
   
}

.test {
    display: block;
    white-space: nowrap;
}